2020/
dump/
evaluation/
2017_speaker2ind.json
2019_speaker2ind_english.json
2019_speaker2ind_surprise.json
*.log
logs/
tensorboard/
exp/
scp/
evaluation/
submission/
submission2/
baseline_result/
combine_feat/
__pycache__/
2019_mfcc_eval/
2019_mfcc_eval_result/
core*
baseline/
ae_exp/
ae_tensorboard/
mksub_2017.log
preprocess_2017.py
mksubset_2017.py
new_ae_train.py
wavenet_spad_ae_train.py
feat_combine.py
ae_train.py
split_scp.py
